<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Register</h1>

    <form action="/register/" method="post">{% csrf_token %}
        NAME : <input type="text" name="myname">
        <br>
        PASSWORD : <input type="text" name="mypassword">   <!-- 원래는 *이 나오도록 input type = 'password' 지정 필요 -->
        <br>
        EMAIL : <input type="text" name="myemail">
        <br>
        <input type="submit" value="회원가입">
    </form>

</body>
</html>